export VAULT_TASKS_CLI_CONFIG=`pwd`/.config
export VAULT_TASKS_CLI_DATA=`pwd`/.data
export VAULT_TASKS_CLI_LOG_LEVEL=debug
export VAULT_TASKS_CORE_CONFIG=`pwd`/.config
export VAULT_TASKS_CORE_DATA=`pwd`/.data
export VAULT_TASKS_CORE_LOG_LEVEL=debug
export VAULT_TASKS_TUI_CONFIG=`pwd`/.config
export VAULT_TASKS_TUI_DATA=`pwd`/.data
export VAULT_TASKS_TUI_LOG_LEVEL=debug

use flake
