[Desktop Entry]
Name=vault-tasks
Version=1.0.0
GenericName=Markdown Tasks Manager
Exec=vault-tasks
Terminal=true
Type=Application
Categories=Utility;Productivity;ConsoleOnly;
StartupNotify=false
