[Desktop Entry]
Name=vault-tasks
Version=0.11.0
GenericName=Markdown Tasks Manager
Exec=vault-tasks
Terminal=true
Type=Application
Categories=Utility;Productivity;ConsoleOnly;
StartupNotify=false
